<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
  <head>
    <meta charset="utf-8"/>
    <title>Anschlüsse</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="/styles/course.css">
    <link rel="stylesheet" href="/styles/navigation.css">
  </head>
  <body>
    <%- include(partialsPath + 'header.ejs') %>
    <main>
      <div class = "title">
        <h1>Schnittstellen</h1>
      </div>
      <div>
        <p>Die Anschlüsse am Computer, die gebraucht werden, um externe Geräte zu verbinden werden in der Fachsprache Schnittstellen genannt. Hier haben wir die wichtigsten davon aufgeführt, um dir deren Anwendung und Funktion näher zu bringen. Dabei geht er vor allem darum die verschiedenen Schnittstellen zu erkennen und deren Vor- und Nachteile zu kennen. Es geht also um eine Theorie, die wenn möglich in der Praxis angewendet werden kann.</p>
      </div>
      <div class = "two">
        <% let index = courses[0].indexOf('Anschlüsse') + 1; while (courses[3][index] > courses[3][courses[0].indexOf('Anschlüsse')]) { %>
        <% if (courses[3][index] == courses[3][courses[0].indexOf('Anschlüsse') + 1]) { %>
        <div class = "courseLink">
          <a <% if (!courses[4][index]) { %> class="unavailable" <% } %> href="<%= courses[1][index] %>"> <h2><%= courses[0][index] %></h2>
            <img src = "/imgs/ports/<%= courses[1][index].split('/')[courses[1][index].split('/').length - 1] %>.jpg" alt = "<%= courses[0][index] %>" class = "pics"/>
          </a>
        </div>
        <% } %>
        <% index += 1 } %>
      </div>
    </main>
    <%- include(partialsPath + 'footer1.ejs') %>
  </body>
</html>
