<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript">
      start(<%- JSON.stringify(courses) %>); // Function of index.js. Declares needed variables.
    </script>
  </head>
  <body>
    <div class="courses">
      <span class="title">Alle Kurse</span>
      <ul>
        <% let index = 0 %>
        <li><a href="<%= courses[1][0] %>"><%= courses[0][0]  %></a>
        <% for (let i = 1; i < courses[0].length; i++) { %>
          <% if (courses[3][i] > index) { %>
            <% for (let j = 0; j < courses[3][i] - index; j++) { %>
              <ul><li>
            <% } %>
            <a href="<%= courses[1][i] %>"><%= courses[0][i] %></a>
          <% } else if (courses[3][i] < index) { %>
            <% for (let j = 0; j < index - courses[3][i]; j++) { %>
              </li></ul></li>
            <% } %>
            <li><a href="<%= courses[1][i] %>"><%= courses[0][i] %></a>
          <% } else { %>
          </li><li><a href="<%= courses[1][i] %>"><%= courses[0][i] %></a>
          <% } %>
          <% index = courses[3][i] %>
        <% } %>
        </li>
      </ul>
    </div>
    <div class="middle">
      <div class="domainname">CSAcademy</div>
      <div class="search">
        <input type="text" name="searchInput" placeholder="Suche hier nach Kursen..." id="searchBar" oninput="showSuggested();" onfocus="showSuggested();" onblur="hideSuggested();">
        <div id="suggestions" onmousedown="focused = true;" onblur="hideSuggested();"></div>
      </div>
    </div>
    <div class="mostPopular">
      <span class="title">Beliebtesten Kurse</span>
      <ol>
        <% for (course of mostPopular) { %>
          <li><%= course %></li>
        <% } %>
      </ol>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
