<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
  <head>
    <meta charset="utf-8"/>
    <title>Schlüsselübergabeprotokolle</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="/styles/course.css">
    <link rel="stylesheet" href="/styles/navigation.css">
  </head>
  <body>
    <%- include(partialsPath + 'header.ejs') %>
    <main>
      <div class = "title">
        <h1>Schlüsselübergabe-Protokolle</h1>
      </div>
      <div>
        <p>Ein Schlüsselübergabeprotokoll erlaubt es zwei Parteien über eine öffentliche, abhörbare Leitung zu kommunizieren. Dabei wird ein gemeinsamer Schlüssel abgemacht, wobei jeweils nur ein Schlüssel veröffentlicht wird, aber beide Schlüssel gebraucht werden, um die Nachricht lesen zu können.</p>
      </div>
      <div class = "keyexchange">
        <% for (let index = courses[0].indexOf('Schlüsselübergabeprotokolle') + 1; index < 48; index++) { %>
        <div id = "<%= courses[1][index].split('/')[courses[1][index].split('/').length - 1]%>">
          <h2><a <% if (!courses[4][index]) { %> class="unavailable" <% } %> href="<%= courses[1][index] %>"> <%= courses[0][index] %></h2>
            <img src = "/imgs/protocols/cryptographic/keyexchange/<%= courses[1][index].split('/')[courses[1][index].split('/').length - 1]%>.png" alt = "<%= courses[0][index] %>" class = "pics"/>
          </a>
        </div>
        <% } %>
      </div>
    </main>
    <%- include(partialsPath + 'footer1.ejs') %>
  </body>
</html>
