<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
  <head>
    <title>Huffman</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link rel="stylesheet" href="/styles/course.css">
    <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
    <script src=<%= "/js/" + path + ".js" %> type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <meta charset="utf-8"/>
    <script src = "/js/codeHighlighting.js"></script>
    <script>
    const codeHighlighting = <%- JSON.stringify(codeHighlighting) %>;
    </script>
  </head>
  <body onload = "addHighlighting(); displayExercise(4);">
    <%- include(partialsPath + 'header.ejs') %>
    <main>
      <div class="title">
        <h1>Huffman-Kodierung</h1>
      </div>
      <div class="shortlink">
        <h2>Shortlinks</h2>
        <ul>
          <li><a href="#general">Allgemein</a></li>
          <li><a href="#tree">Huffman Baum</a></li>
          <li><a href="#encoding">Kodierung der Zeichen</a></li>
        </ul>
      </div>
      <div id = "general">
        <h2>Allgemein</h2>
        <p>
          Die Huffman-Kodierung ist eine Entropiekodierung, die von David Huffman im Jahr 1952 entwickelt wurde. Durch diese Kodierung werden einer festen Anzahl Zeichen unterschiedlich lange Codes zugeordent, Zeichen die häufig vorkommen erhalten kurze Codes und Zeichen, die selten vorkommen erhalten lange Codes. Da aus der komprimierten Datei über eine Dekodierung wieder die Originaldatei erstellt werden kann handelt es sich um eine verlustfreie Datenkompression.
          <br>
          Die Huffman-Kodierung wird aufgrund ihrer Schnelligkeit und da sie nicht durch ein Patent geschützt wurde sehr viel verwendet, obwohl es Entropiekodierungen gibt, die bessere Resultate erbringen wie beispeilsweise die <a href = "/datacompression/entropy/arithmetic">Arithmetische Kodierung</a>. Die Huffman-Kodierung wird bei JPG und bei MP3 eingesetzt.
        </p>
      </div>
      <div id = "tree">
        <h2>Huffman Baum</h2>
        <p>
          Die Huffman-Kodierung basiert auf einem Baum. Dieser Baum besteht aus Ästen und Blättern. Die Blätter sind dabei die Zeichen, die Codiert werden und die Äste sind der Weg (also der Code), der zu den Blättern führt. In diesem Teil schauen wir uns an, wie ein solcher Baum aufgebaut wird und wie er schlussendluch im Code umgesetzt wird.
        </p>
        <div>
          <h3>Aufbau des Baumes</h3>
          <p>
            Um den Baum aufzubauen muss zuerst die Wahrscheinlichkeit der einzelenen Zeichen bestimmt werden. Dies kann sehr einfach gemacht werden, indem die Anzahl der Vorkommnisse durch die Gesamtanzahl an Zeichen geteilt wird. Wenn also ein Satz, der aus den Zeichen Z = {z<sub>1</sub>, z<sub>2</sub>, z<sub>3</sub>, ..., z<sub>m</sub>} besteht können die jeweiligen Wahrscheinlichkeiten durch folgende Formel berechnet werden, wobei m die gesamte Anzahl an Zeichen ist und z<sub>i</sub> 1 beträgt, wenn das betrachtete Zeichen z<sub>i</sub> ist und 0, wenn nicht.
            <figure class = "equation">
              p<sub>z<sub>i</sub></sub> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">m</span></figure> * <figure class = "sum"><span class = "end">m</span>&sum;<span class = "start">i = 1</span></figure> z<sub>i</sub>
            </figure>
            <br>
            Nun müssen die Zeichen mit absteigender Wahrscheinlichkeit von links nach rechts in eine Tabelle eingetragen werden. In diesem Beispiel werden alle Häufigkeiten als verschieden betrachtet, wenn aber nun mehrere Zeichen gleich viel vorkommen würden, könnten sie willkürlich angeordnet werden.
          </p>
          <table class = "buildtree">
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>0</td>
              <td><figure class = "circle">z<sub>1</sub></figure>p<sub>z<sub>1</sub></sub></td>
              <td><figure class = "circle">z<sub>2</sub></figure>p<sub>z<sub>2</sub></sub></td>
              <td><figure class = "circle">z<sub>3</sub></figure>p<sub>z<sub>3</sub></sub></td>
              <td><figure class = "circle">z<sub>4</sub></figure>p<sub>z<sub>4</sub></sub></td>
              <td><figure class = "circle">z<sub>5</sub></figure>p<sub>z<sub>5</sub></sub></td>
              <td><figure class = "circle">z<sub>6</sub></figure>p<sub>z<sub>6</sub></sub></td>
              <td><figure class = "circle">z<sub>7</sub></figure>p<sub>z<sub>7</sub></sub></td>
              <td><figure class = "circle">z<sub>8</sub></figure>p<sub>z<sub>8</sub></sub></td>
              <td><figure class = "circle">z<sub>9</sub></figure>p<sub>z<sub>9</sub></sub></td>
            </tr>
          </table>
          <br>
          <p>Nachdem die Zeichen eingeordnet wurden werden die niedrigsten Wahrscheinlichkeiten in einem Ast zusammengefasst und haben somit eine grössere Wahrscheinlichkeit.</p>
          <table class = "buildtree">
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>1</td>
              <td colspan = "7"></td>
              <td colspan = "2">p<sub>z<sub>2</sub></sub> + p<sub>z<sub>1</sub></sub><figure class = "triangle"></figure></td>
            </tr>
            <tr>
              <td>0</td>
              <td><figure class = "circle">z<sub>1</sub></figure>p<sub>z<sub>1</sub></sub></td>
              <td><figure class = "circle">z<sub>2</sub></figure>p<sub>z<sub>2</sub></sub></td>
              <td><figure class = "circle">z<sub>3</sub></figure>p<sub>z<sub>3</sub></sub></td>
              <td><figure class = "circle">z<sub>4</sub></figure>p<sub>z<sub>4</sub></sub></td>
              <td><figure class = "circle">z<sub>5</sub></figure>p<sub>z<sub>5</sub></sub></td>
              <td><figure class = "circle">z<sub>6</sub></figure>p<sub>z<sub>6</sub></sub></td>
              <td><figure class = "circle">z<sub>7</sub></figure>p<sub>z<sub>7</sub></sub></td>
              <td><figure class = "circle">z<sub>8</sub></figure>p<sub>z<sub>8</sub></sub></td>
              <td><figure class = "circle">z<sub>9</sub></figure>p<sub>z<sub>9</sub></sub></td>
            </tr>
          </table>
          <p>Danach wird die Tabelle wieder neu angeordnet, sodass die Elemente mit absteidender Wahrscheinlichkeit von links nach rechts geordnet werden. Das Bedeutet, dass jetzt die folgenden Vergleiche durchgeführt werden müssen.</p>
          <figure class = "equation">
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>3</sub></sub>
            <br>
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>4</sub></sub>
            <br>
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>5</sub></sub>
            <br>
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>6</sub></sub>
            <br>
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>7</sub></sub>
            <br>
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>8</sub></sub>
            <br>
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>9</sub></sub>
          </figure>
          <p>Wenn einer der Vergleiche nicht stimmt, dann kann über alle nachfolgenden Elemente ausgesagt werden, dass sie nicht stimmen. Deswegen müssen diese Vergleiche nicht mehr durchgeführt werden. Falls der Baum grösser wir, macht es Sinn einen effizienten <a href = "/algorithms/sorting">Sortierungsalgorithmus</a> anzuwenden. Nachdem die Zeichen wieder neu angeordnet sind können wir wieder von vorne anfangen, ausser dass alle Zeichen, die nicht mit einem Ast zusammengefasst wurden eine Ebene aufsteigen und die zusammengefassten Zeichen als ein Zeichen auf der höheren Ebene betrachtet werden. Der Baum ist fertig, wenn alle Zeichen in einem Ast zusammengefasst wurden, dessen Wahrscheinlichkeit 1 beträgt. Keine Angst, wenn du es bis jetzt noch nicht richtig verstanden hat, es folgt ein konkretes Beispiel, in dem der Algorithmus vollständig ausgeführt wird.</p>
        </div>
        <div>
          <h3>Konkretes Beispiel</h3>
          <p>
            In diesem Beispiel wollen wir den Satz: "ein-kleines-beispiel" kodieren. Zuerst müssen wir die Wahrscheinlichkeiten der einzelnen Buchstaben berechnen.
          </p>
          <figure class = "equation">
            p<sub>e</sub> = <figure class = "fraction"><span class = "upper">5</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>i</sub> = <figure class = "fraction"><span class = "upper">4</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>n</sub> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>-</sub> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>k</sub> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>l</sub> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>s</sub> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>b</sub> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>p</sub> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure>
          </figure>
          <p>Aus diesen Wahrscheinlichkeiten erstellen wir nun unseren Baum. Dabei müssen die Zeichen nach ihrer Wahrscheinlichkeit von links nach rechts geordnet werden.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>0</td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
            </tr>
          </table>
          <p>Nun werden die Zeichen mit den niedrigsten Wahrscheinlichkeiten zusammengefasst.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>1</td>
              <td colspan = "5"></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure>
              </td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
            </tr>
            <tr>
              <td>0</td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
            </tr>
          </table>
          <p>Jetzt werden die Zeichen, die nicht zusammengefasst wurden in die Ebene 1 angehoben. In der Ebene 1 werden die Zeichen wieder nach ihren Wahrscheinlichkeiten geordnet. Danach werden wieder die Zeichen mit den tiefsten Wahrscheinlichkeitswerten zusammengefasst.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>2</td>
              <td colspan = "4"></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure>
              </td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
            </tr>
            <tr>
              <td>0</td>
              <td colspan = "2"></td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "3"></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
            </tr>
          </table>
          <p>Wieder werden die Wahrscheinlichkeiten verglichen und die Zeichen werden neu angeordnet und auf die gleiche Ebene angehoben. Danach werden wieder die Zeichen mit den niedrigsten Wahrscheinlichkeiten zusammengefasst.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>3</td>
              <td colspan = "4"></td>
              <td colspan = "5">
                <figure class = "triangle5"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td colspan = "2"></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
            </tr>
            <tr>
              <td>0</td>
              <td colspan = "5"></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "2"></td>
            </tr>
          </table>
          <p>Jetzt werden die Zeichen wieder ihrer Wahrscheinlichkeit entsprechend neu angeordnet und auf eine Ebene angehoben. Danach werden wieder diejenigen mit den kleinsten Wahrscheinlichkeiten zusammegefasst.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>4</td>
              <td colspan = "6"></td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan = "5">
                <figure class = "triangle5"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure>
              </td>
              <td colspan = "2"></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
            </tr>
            <tr>
              <td>1</td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "4"></td>
            </tr>
            <tr>
              <td>0</td>
              <td></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "6"></td>
            </tr>
          </table>
          <p>Wieder erhalten die Zeichen eine neue Anordnung und es werden alle auf die gleiche Ebene gebracht. Danach werden wieder die Zeichen mit der kleinsten Wahrscheinlichkeit zusammengefasst.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>4</td>
              <td colspan = "3"></td>
              <td colspan = "6">
                <figure class = "triangle6"></figure><figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure> = <figure class = "fraction"><span class = "upper">3</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "5">
                <figure class = "triangle5"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
            </tr>
            <tr>
              <td>2</td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>1</td>
              <td></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td></td>
            </tr>
            <tr>
              <td>0</td>
              <td colspan = "4"></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "3"></td>
            </tr>
          </table>
          <p>Nun sind wir fast am Ende angelangt. Es gibt nur noch zwei Äste, die zusammengefasst werden können. Die Zeichen werden also wieder neu angeordnet und die letzten Äste werden zusammengefasst.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>5</td>
              <td colspan = "9">
                <figure class = "triangle9"></figure><figure class = "fraction"><span class = "upper">3</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">2</span><span class = "lower">5</span></figure> = 1
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td colspan = "6">
                <figure class = "triangle6"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan = "5">
                <figure class = "triangle5"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">20</span></figure>
              </td>
              <td colspan = "2"></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
            </tr>
            <tr>
              <td>1</td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "4"></td>
            </tr>
            <tr>
              <td>0</td>
              <td></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "6"></td>
            </tr>
          </table>
        </div>
        <div>
          <h3>In Python geschriebener Beispielcode</h3>
          <code class = "code python"># a ist der String, auf dem eine Basis für einen Huffman-Baum aufgebaut wird
def base(a):
    p = []
    lenght = len(a)
    x = 0
    i = 0
    # Eine While-Schleife wird benötigt, da unbekannt ist, wie viel mal sie durchlaufen wird
    while x < lenght:
        # Zählt wie oft ein Zeichen im String vorkommt
        counter = float(a.count(a[0]))
        # Entfernt das Zeichen, damit es nur einmal gezählt wird
        a = a.replace(a[0], '')
        # Definiert die Wahrscheinlichkeit des Zeichens
        p.append(counter / lenght)
        i += 1
        x += counter
    # Sortiert die Liste mit den Wahrscheinlichkeiten in absteigender Reihenfolge
    p.sort(reverse = True)
    return p

# Die Liste base ist die Basis, auf der ein Huffman-Baum aufgebaut wird
def tree(base):
    # Gibt in jedem Durchlauf eine Ebene der Basis aus
    print(base)
    # Abbruchbedingung, wenn der Baum fertig ist, dann ist die Wahrscheinlichkeit 1
    if base[0] == 1:
        return
    # Addiert die zwei niedrigsten Wahrscheinlichkeiten
    base[-2] = base[-1] + base[-2]
    base.remove(base[-1])
    # Die Liste wird wieder sortiert
    base.sort(reverse = True)
    # Die Funktion wird rekursiv aufgerufen
    tree(base)
a = 'ein-kleines-beispiel'
# Ruft die Funktionen auf, die einen Huffman-Baum als Matrix ausgeben
tree(base(a))</code>
        </div>
        <div>
          <h3>Beispielaufgaben</h3>
          <p>Nun kannst du Aufgaben zu Huffman-Bäumen lösen. Dabei wird dir entweder ein Huffman-Baum als Input gegeben und du musst den zugehörigen String herausfinden, oder es wird ein String gegeben und du musst den zugehörigen Huffman-Baum herausfinden.</p>
          <input type = "button" value = "Neue Aufgaben" onclick = "resetTREE();">
          <table>
            <tr>
              <th>Baum</th>
              <th>String</th>
            </tr>
            <tr>
              <td id = "TREEextable0"><textarea id = "inputTREE0" type = "text" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTREE(this.value, 0);"></textarea><br><input type = "button" value = "Lösung anzeigen" onclick = "solutionTREE(0);"></td>
              <td id = "TREEextable1"><textarea id = "inputTREE1" type = "text" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTREE(this.value, 1);"></textarea></td>
            </tr>
            <tr>
              <td id = "TREEextable2"><textarea id = "inputTREE2" type = "text" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTREE(this.value, 2);"></textarea><br><input type = "button" value = "Lösung anzeigen" onclick = "solutionTREE(2);"></td>
              <td id = "TREEextable3"><textarea id = "inputTREE3" type = "text" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTREE(this.value, 3);"></textarea></td>
            </tr>
            <tr>
              <td id = "TREEextable4"><textarea id = "inputTREE4" type = "text" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTREE(this.value, 4);"></textarea><br><input type = "button" value = "Lösung anzeigen" onclick = "solutionTREE(4);"></td>
              <td id = "TREEextable5"><textarea id = "inputTREE5" type = "text" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTREE(this.value, 5);"></textarea></td>
            </tr>
            <tr>
              <td id = "TREEextable6"><textarea id = "inputTREE6" type = "text" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTREE(this.value, 6);"></textarea><br><input type = "button" value = "Lösung anzeigen" onclick = "solutionTREE(6);"></td>
              <td id = "TREEextable7"><textarea id = "inputTREE7" type = "text" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTREE(this.value, 7);"></textarea></td>
            </tr>
          </table>
        </div>
      </div>
      <div id = "encoding">
        <h2>Kodierung der Zeichen</h2>
        <div>
          <h3>Allgemein</h3>
        </div>
        <div>
          <h3>Konkretes Beispiel</h3>
        </div>
        <div>
          <h3>Beispielaufgaben</h3>
        </div>
      </div>
    </main>
    <%- include(partialsPath + 'footer1.ejs') %>
  </body>
</html>
