<!DOCTYPE html>
<!-- Daniel Isler -->
<html lang = "de">
  <head>
    <meta charset="utf-8"/>
    <title>Huffman</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <link rel="stylesheet" href="/styles/course.css">
    <link rel="stylesheet" href=<%= "/styles/" + path + ".css" %>>
    <script src=<%= "/js/" + path + ".js" %>></script>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <script src = "/js/codeHighlighting.js"></script>
    <script>
      const codeHighlighting = <%- JSON.stringify(codeHighlighting) %>;
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/datacompression/entropy/jquerydesigns.js"></script>
  </head>
  <body onload = "addHighlighting(); displayExercise(4);">
    <%- include(partialsPath + 'header.ejs') %>
    <main>
      <div class="title">
        <h1>Huffman-Kodierung</h1>
      </div>
      <div class="shortlink">
        <h2>Shortlinks</h2>
        <ul>
          <li><a href="#general">Allgemein</a></li>
          <li><a href="#Tree">Huffman Baum</a></li>
          <li><a href="#encoding">Kodierung der Zeichen</a></li>
        </ul>
      </div>
      <div id = "general">
        <h2>Allgemein</h2>
        <p>
          Die Huffman-Kodierung ist eine Entropiekodierung, die von David Huffman im Jahr 1952 entwickelt wurde. Durch diese Kodierung werden einer festen Anzahl Zeichen unterschiedlich lange Codes zugeordent, Zeichen die häufig vorkommen erhalten kurze Codes und Zeichen, die selten vorkommen erhalten lange Codes. Da aus der komprimierten Datei über eine Dekodierung wieder die Originaldatei erstellt werden kann handelt es sich um eine verlustfreie Datenkompression.
          <br>
          Die Huffman-Kodierung wird aufgrund ihrer Schnelligkeit und da sie nicht durch ein Patent geschützt wurde sehr viel verwendet, obwohl es Entropiekodierungen gibt, die bessere Resultate erbringen, wie beispielsweise die <a href = "/datacompression/entropy/arithmetic">Arithmetische Kodierung</a>. Die Huffman-Kodierung wird bei JPG und bei MP3 eingesetzt.
        </p>
      </div>
      <div id = "Tree">
        <h2>Huffman Baum</h2>
        <p>
          Die Huffman-Kodierung basiert auf einem Baum. Dieser Baum besteht aus Ästen und Blättern. Die Blätter sind dabei die Zeichen, die Codiert werden und die Äste sind der Weg (also der Code), der zu den Blättern führt. In diesem Teil schauen wir uns an, wie ein solcher Baum aufgebaut wird und wie er schlussendluch im Code umgesetzt wird.
        </p>
        <div>
          <h3>Aufbau des Baumes</h3>
          <p>
            Um den Baum aufzubauen muss zuerst die Wahrscheinlichkeit der einzelenen Zeichen bestimmt werden. Dies kann sehr einfach gemacht werden, indem die Anzahl der Vorkommnisse durch die Gesamtanzahl an Zeichen geteilt wird. Wenn also ein Satz, der aus den Zeichen Z = {z<sub>1</sub>, z<sub>2</sub>, z<sub>3</sub>, ..., z<sub>m</sub>} besteht können die jeweiligen Wahrscheinlichkeiten durch folgende Formel berechnet werden, wobei m die gesamte Anzahl an Zeichen ist und z<sub>i</sub> 1 beträgt, wenn das betrachtete Zeichen z<sub>i</sub> ist und 0, wenn nicht.
          </p>
          <figure class = "equation">
            p<sub>z<sub>i</sub></sub> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">m</span></figure> * <figure class = "sum"><span class = "end">m</span>&sum;<span class = "start">i = 1</span></figure> z<sub>i</sub>
          </figure>
          <br>
          <p>
            Nun müssen die Zeichen mit absteigender Wahrscheinlichkeit von links nach rechts in eine Tabelle eingetragen werden. In diesem Beispiel werden alle Häufigkeiten als verschieden betrachtet, wenn aber nun mehrere Zeichen gleich viel vorkommen würden, könnten sie willkürlich angeordnet werden.
          </p>
          <table class = "buildTree">
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td class = "element">0</td>
              <td class = "element" id = "element"><figure class = "circle">z<sub>1</sub></figure>p<sub>z<sub>1</sub></sub></td>
              <td class = "element"><figure class = "circle">z<sub>2</sub></figure>p<sub>z<sub>2</sub></sub></td>
              <td class = "element"><figure class = "circle">z<sub>3</sub></figure>p<sub>z<sub>3</sub></sub></td>
              <td class = "element"><figure class = "circle">z<sub>4</sub></figure>p<sub>z<sub>4</sub></sub></td>
              <td class = "element"><figure class = "circle">z<sub>5</sub></figure>p<sub>z<sub>5</sub></sub></td>
              <td class = "element"><figure class = "circle">z<sub>6</sub></figure>p<sub>z<sub>6</sub></sub></td>
              <td class = "element"><figure class = "circle">z<sub>7</sub></figure>p<sub>z<sub>7</sub></sub></td>
              <td class = "element"><figure class = "circle">z<sub>8</sub></figure>p<sub>z<sub>8</sub></sub></td>
              <td class = "element"><figure class = "circle">z<sub>9</sub></figure>p<sub>z<sub>9</sub></sub></td>
            </tr>
          </table>
          <br>
          <p>Nachdem die Zeichen eingeordnet wurden werden die niedrigsten Wahrscheinlichkeiten in einem Ast zusammengefasst und haben somit eine grössere Wahrscheinlichkeit.</p>
          <table class = "buildTree">
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>1</td>
              <td colspan = "7"></td>
              <td colspan = "2">p<sub>z<sub>2</sub></sub> + p<sub>z<sub>1</sub></sub><figure class = "triangle"></figure></td>
            </tr>
            <tr>
              <td>0</td>
              <td><figure class = "circle">z<sub>1</sub></figure>p<sub>z<sub>1</sub></sub></td>
              <td><figure class = "circle">z<sub>2</sub></figure>p<sub>z<sub>2</sub></sub></td>
              <td><figure class = "circle">z<sub>3</sub></figure>p<sub>z<sub>3</sub></sub></td>
              <td><figure class = "circle">z<sub>4</sub></figure>p<sub>z<sub>4</sub></sub></td>
              <td><figure class = "circle">z<sub>5</sub></figure>p<sub>z<sub>5</sub></sub></td>
              <td><figure class = "circle">z<sub>6</sub></figure>p<sub>z<sub>6</sub></sub></td>
              <td><figure class = "circle">z<sub>7</sub></figure>p<sub>z<sub>7</sub></sub></td>
              <td><figure class = "circle">z<sub>8</sub></figure>p<sub>z<sub>8</sub></sub></td>
              <td><figure class = "circle">z<sub>9</sub></figure>p<sub>z<sub>9</sub></sub></td>
            </tr>
          </table>
          <p>Danach wird die Tabelle wieder neu angeordnet, sodass die Elemente mit absteidender Wahrscheinlichkeit von links nach rechts geordnet werden. Das Bedeutet, dass jetzt die folgenden Vergleiche durchgeführt werden müssen.</p>
          <figure class = "equation">
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>3</sub></sub>
            <br>
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>4</sub></sub>
            <br>
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>5</sub></sub>
            <br>
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>6</sub></sub>
            <br>
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>7</sub></sub>
            <br>
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>8</sub></sub>
            <br>
            p<sub>z<sub>1</sub></sub> + p<sub>z<sub>2</sub></sub> &gt; p<sub>z<sub>9</sub></sub>
          </figure>
          <p>Wenn einer der Vergleiche nicht stimmt, dann kann über alle nachfolgenden Elemente ausgesagt werden, dass sie nicht stimmen. Deswegen müssen diese Vergleiche nicht mehr durchgeführt werden. Falls der Baum grösser wir, macht es Sinn einen effizienten <a href = "/algorithms/sorting">Sortierungsalgorithmus</a> anzuwenden. Nachdem die Zeichen wieder neu angeordnet sind können wir wieder von vorne anfangen, ausser dass alle Zeichen, die nicht mit einem Ast zusammengefasst wurden eine Ebene aufsteigen und die zusammengefassten Zeichen als ein Zeichen auf der höheren Ebene betrachtet werden. Der Baum ist fertig, wenn alle Zeichen in einem Ast zusammengefasst wurden, dessen Wahrscheinlichkeit 1 beträgt. Keine Angst, wenn du es bis jetzt noch nicht richtig verstanden hat, es folgt ein konkretes Beispiel, in dem der Algorithmus vollständig ausgeführt wird.</p>
        </div>
        <div>
          <h3>Konkretes Beispiel</h3>
          <p>
            In diesem Beispiel wollen wir den Satz: "ein-kleines-beispiel" kodieren. Zuerst müssen wir die Wahrscheinlichkeiten der einzelnen Buchstaben berechnen.
          </p>
          <figure class = "equation">
            p<sub>e</sub> = <figure class = "fraction"><span class = "upper">5</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>i</sub> = <figure class = "fraction"><span class = "upper">4</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>n</sub> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>-</sub> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>k</sub> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>l</sub> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>s</sub> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>b</sub> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure>,
          </figure>
          <figure class = "equation">
            p<sub>p</sub> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure>
          </figure>
          <p>Aus diesen Wahrscheinlichkeiten erstellen wir nun unseren Baum. Dabei müssen die Zeichen nach ihrer Wahrscheinlichkeit von links nach rechts geordnet werden.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>0</td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
            </tr>
          </table>
          <p>Nun werden die Zeichen mit den niedrigsten Wahrscheinlichkeiten zusammengefasst.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>1</td>
              <td colspan = "5"></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure>
              </td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
            </tr>
            <tr>
              <td>0</td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
            </tr>
          </table>
          <p>Jetzt werden die Zeichen, die nicht zusammengefasst wurden in die Ebene 1 angehoben. In der Ebene 1 werden die Zeichen wieder nach ihren Wahrscheinlichkeiten geordnet. Danach werden wieder die Zeichen mit den tiefsten Wahrscheinlichkeitswerten zusammengefasst.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>2</td>
              <td colspan = "4"></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure>
              </td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
            </tr>
            <tr>
              <td>0</td>
              <td colspan = "2"></td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "3"></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
            </tr>
          </table>
          <p>Wieder werden die Wahrscheinlichkeiten verglichen und die Zeichen werden neu angeordnet und auf die gleiche Ebene angehoben. Danach werden wieder die Zeichen mit den niedrigsten Wahrscheinlichkeiten zusammengefasst.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>3</td>
              <td colspan = "4"></td>
              <td colspan = "5">
                <figure class = "triangle5"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td colspan = "2"></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
            </tr>
            <tr>
              <td>0</td>
              <td colspan = "5"></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "2"></td>
            </tr>
          </table>
          <p>Jetzt werden die Zeichen wieder ihrer Wahrscheinlichkeit entsprechend neu angeordnet und auf eine Ebene angehoben. Danach werden wieder diejenigen mit den kleinsten Wahrscheinlichkeiten zusammegefasst.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>4</td>
              <td colspan = "6"></td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan = "5">
                <figure class = "triangle5"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure>
              </td>
              <td colspan = "2"></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
            </tr>
            <tr>
              <td>1</td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "4"></td>
            </tr>
            <tr>
              <td>0</td>
              <td></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "6"></td>
            </tr>
          </table>
          <p>Wieder erhalten die Zeichen eine neue Anordnung und es werden alle auf die gleiche Ebene gebracht. Danach werden wieder die Zeichen mit der kleinsten Wahrscheinlichkeit zusammengefasst.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>4</td>
              <td colspan = "3"></td>
              <td colspan = "6">
                <figure class = "triangle6"></figure><figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure> = <figure class = "fraction"><span class = "upper">3</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "5">
                <figure class = "triangle5"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
            </tr>
            <tr>
              <td>2</td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>1</td>
              <td></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td></td>
            </tr>
            <tr>
              <td>0</td>
              <td colspan = "4"></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "3"></td>
            </tr>
          </table>
          <p>Nun sind wir fast am Ende angelangt. Es gibt nur noch zwei Äste, die zusammengefasst werden können. Die Zeichen werden also wieder neu angeordnet und die letzten Äste werden zusammengefasst.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>5</td>
              <td colspan = "9">
                <figure class = "triangle9"></figure><figure class = "fraction"><span class = "upper">3</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">2</span><span class = "lower">5</span></figure> = 1
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td colspan = "6">
                <figure class = "triangle6"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan = "5">
                <figure class = "triangle5"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">20</span></figure>
              </td>
              <td colspan = "2"></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
            </tr>
            <tr>
              <td>1</td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "4"></td>
            </tr>
            <tr>
              <td>0</td>
              <td></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "6"></td>
            </tr>
          </table>
        </div>
        <div>
          <h3>In Python geschriebener Beispielcode</h3>
          <code class = "code python"># a ist der String, auf dem eine Basis für einen Huffman-Baum aufgebaut wird
def base(a):
    p = []
    lenght = len(a)
    x = 0
    i = 0
    # Eine While-Schleife wird benötigt, da unbekannt ist, wie viel mal sie durchlaufen wird
    while x &lt; lenght:
        # Zählt wie oft ein Zeichen im String vorkommt
        counter = float(a.count(a[0]))
        # Entfernt das Zeichen, damit es nur einmal gezählt wird
        a = a.replace(a[0], '')
        # Definiert die Wahrscheinlichkeit des Zeichens
        p.append(counter / lenght)
        i += 1
        x += counter
    # Sortiert die Liste mit den Wahrscheinlichkeiten in absteigender Reihenfolge
    p.sort(reverse = True)
    return p

# Die Liste base ist die Basis, auf der ein Huffman-Baum aufgebaut wird
def Tree(base):
    # Gibt in jedem Durchlauf eine Ebene der Basis aus
    print(base)
    # Abbruchbedingung, wenn der Baum fertig ist, dann ist die Wahrscheinlichkeit 1
    if base[0] == 1:
        return
    # Addiert die zwei niedrigsten Wahrscheinlichkeiten
    base[-2] = base[-1] + base[-2]
    base.remove(base[-1])
    # Die Liste wird wieder sortiert
    base.sort(reverse = True)
    # Die Funktion wird rekursiv aufgerufen
    Tree(base)
a = 'ein-kleines-beispiel'
# Ruft die Funktionen auf, die einen Huffman-Baum als Matrix ausgeben
Tree(base(a))</code>
        </div>
        <div>
          <h3>Beispielaufgaben</h3>
          <p>Nun kannst du Aufgaben zu Huffman-Bäumen lösen. Dabei wird dir entweder ein Huffman-Baum als Input gegeben und du musst den zugehörigen String herausfinden, oder es wird ein String gegeben und du musst den zugehörigen Huffman-Baum herausfinden. Der String wird zufällig generiert, es werden also höchstwahrscheinlich keine sinnvollen Wörter erscheinen.<br>Fülle das Feld mit dem Baum so aus, dass du immer zuerst das Zeichen und danach die zugehörige Wahrscheinlichkeit, durch Komma abgetrennt hinschreibst. Für die höheren Ebenen füge jeweils, analso zu den Wahrscheinlichkeiten die Zeichen zusammen. Schreibe den Baum so, dass du für jedes Zusammenfassen eines Elementes eine neue Ebene anfängst. Falls das Format nicht genau stimmt kann deine Lösung nicht erkannt werden. Falls dir die Vorgaben nicht klar sind kannst du die erste Aufgabe als gelöstes Beispiel benutzen, indem du auf "Lösung anzeigen" drückst. Wenn der Baum nicht ganz in das Textfeld hineinpasst kannst es mit der Maus verändern, indem du an der Ecke unten links ziehst.</p><br><p>Am besten zeichnest du dir den Huffman-Baum auf Papier aus und füllst ihn danach in das vorgegebene Textfeld ein, da es nicht so einfach ist, ihn direkt hineinzuschreiben.</p>
          <input type = "button" value = "Neue Aufgaben" onclick = "resetTree();">
          <table>
            <tr>
              <th>Baum</th>
              <th>String</th>
            </tr>
            <tr>
              <td id = "Treeextable0"><textarea rows = "10" cols = "70" id = "inputTree0" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTree(this.value, 0);"></textarea><br><input type = "button" value = "Lösung anzeigen" onclick = "solutionTree(0);"></td>
              <td id = "Treeextable1"><input type = "text" id = "inputTree1" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTree(this.value, 1);"></td>
            </tr>
            <tr>
              <td id = "Treeextable2"><textarea rows = "10" cols = "70" id = "inputTree2" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTree(this.value, 2);"></textarea><br><input type = "button" value = "Lösung anzeigen" onclick = "solutionTree(2);"></td>
              <td id = "Treeextable3"><input type = "text" id = "inputTree3" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTree(this.value, 3);"></td>
            </tr>
            <tr>
              <td id = "Treeextable4"><textarea rows = "10" cols = "70" id = "inputTree4" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTree(this.value, 4);"></textarea><br><input type = "button" value = "Lösung anzeigen" onclick = "solutionTree(4);"></td>
              <td id = "Treeextable5"><input type = "text" id = "inputTree5" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTree(this.value, 5);"></td>
            </tr>
            <tr>
              <td id = "Treeextable6"><textarea rows = "10" cols = "70" id = "inputTree6" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTree(this.value, 6);"></textarea><br><input type = "button" value = "Lösung anzeigen" onclick = "solutionTree(6);"></td>
              <td id = "Treeextable7"><input type = "text" id = "inputTree7" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkTree(this.value, 7);"></td>
            </tr>
          </table>
        </div>
      </div>
      <div id = "encoding">
        <h2>Kodierung der Zeichen</h2>
        <div>
          <h3>Allgemein</h3>
          <p>Bis jetzt haben wir gelernt, wie man einen Huffman-Baum aufgbaut. Nun geht es noch darum, wie man diesen einsetzen kann um Zeichen zu kodieren.<br>Um die Zeichen zu kodieren müssen wir sie in binärer Form darstellen. Dafür kann sehr einfach der vorher aufgebaute Huffman-Baum gebraucht werden. Dabei wird immer beim Stamm (ganz oben, dort wo die Wahrscheinlichkeit 1 beträgt) angefangen und wenn eine Abzweigung nach links genommen wird eine 0 geschrieben, ansonsten eine 1. So bekommen die Zeichen also genau so lange Codes, wie Ebenen durchquert werden müssen, bis die Zeichen erreicht werden.<br>Die Dekodierung eines Code kann erst schwierig erscheinen, da die Codes jeweils unterschiedliche Längen haben, abhängig vom Informationsgehalt des Zeichens. Es ist aber schnell erkennbar, wenn man ein Code dekodiert, denn wenn man das erste Zeichen hat, dann wäre es sinnlos, dass der Code dort noch weiter geht, da der Baum nicht mehr weiter geht.</p>
        </div>
        <div>
          <h3>Konkretes Beispiel</h3>
          <p>Nun wollen wir uns die Huffman-Kodierung an einem konkreten Beispiel anschauen. Dafür nehmen wir das selbe Beispiel, das auch schon für den Aufbau des Huffman-Baumes benutzt wurde, da wir so den Baum bereits erstellt haben. Wir haben also den String: "ein-kleines-beispiel" mit dem Huffman-Baum.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>5</td>
              <td colspan = "9">
                <figure class = "triangle9"></figure><figure class = "fraction"><span class = "upper">3</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">2</span><span class = "lower">5</span></figure> = 1
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td colspan = "6">
                <figure class = "triangle6"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan = "5">
                <figure class = "triangle5"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td colspan = "3">
                <figure class = "triangle3"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">20</span></figure>
              </td>
              <td colspan = "2"></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
            </tr>
            <tr>
              <td>1</td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "4"></td>
            </tr>
            <tr>
              <td>0</td>
              <td></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "6"></td>
            </tr>
          </table>
          <p>Nun ordnen wir den Abzweigungen auf den Ästen den Code 0, wenn nach links abgezweigt wurde und den Code 1, wenn nach rechts abgezweigt wurde. Der Baum sieht dann also folgendermassen aus.</p>
          <table>
            <tr>
              <th>Ebene</th>
              <th colspan = "9">Blätter / Baum</th>
            </tr>
            <tr>
              <td>5</td>
              <td colspan = "9">
                <figure class = "triangle9"><span class = "code0">0</span><span class = "code1">1</span></figure><figure class = "fraction"><span class = "upper">3</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">2</span><span class = "lower">5</span></figure> = 1
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td colspan = "6">
                <figure class = "triangle6"><span class = "code0">0</span><span class = "code1">1</span></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
              <td colspan = "3">
                <figure class = "triangle3"><span class = "code0">0</span><span class = "code1">1</span></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan = "5">
                <figure class = "triangle5"><span class = "code0">0</span><span class = "code1">1</span></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure> + <figure class = "fraction"><span class = "upper">3</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">7</span><span class = "lower">20</span></figure>
              </td>
              <td><figure class = "circle">e</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">4</span></figure></td>
              <td><figure class = "circle">i</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"><span class = "code0">0</span><span class = "code1">1</span></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td colspan = "3">
                <figure class = "triangle3"><span class = "code0">0</span><span class = "code1">1</span></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">5</span></figure>
              </td>
              <td colspan = "2">
                <figure class = "triangle"><span class = "code0">0</span><span class = "code1">1</span></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">2</span><span class = "lower">20</span></figure>
              </td>
              <td colspan = "2"></td>
              <td><figure class = "circle">n</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">l</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
            </tr>
            <tr>
              <td>1</td>
              <td><figure class = "circle">s</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td colspan = "2">
                <figure class = "triangle"><span class = "code0">0</span><span class = "code1">1</span></figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> + <figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure> = <figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure>
              </td>
              <td><figure class = "circle">-</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">10</span></figure></td>
              <td><figure class = "circle">k</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "4"></td>
            </tr>
            <tr>
              <td>0</td>
              <td></td>
              <td><figure class = "circle">b</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td><figure class = "circle">p</figure><figure class = "fraction"><span class = "upper">1</span><span class = "lower">20</span></figure></td>
              <td colspan = "6"></td>
            </tr>
          </table>
          <p>Das erste Zeichen vom String: "ein-kleines-beispiel", der dekodiert werden soll ist ein 'e'. Wenn wir dieses 'e' nun im Huffman-Baum suchen, können wir erkennen, dass im ersten Ast nach links und im zweiten Ast nach rechts gehen müssen. Das 'e' erhält also den Code 01. Danach kommt ein 'i'. Um zum 'i' zu gelangen müssen wir beim ersten Ast nach rechts und beim zweiten Ast nach links abzweigen. So erhält das 'i' den Code 10. Der gesamte Code bis jetzt ist also 0110. Für die weiteren Zeichen erhalten wir die in der folgenden Tabelle aufgezeichneten Codes.</p>
          <table id = "encodex">
            <tr>
              <th>Zeichen</th>
              <th>Code</th>
              <th>Gesamtcode bis jetzt</th>
              <th>Auftrittswahrscheinlichkeit</th>
            </tr>
            <tr>
              <td>e</td>
              <td>01</td>
              <td>01</td>
              <td>0.25</td>
            </tr>
            <tr>
              <td>i</td>
              <td>10</td>
              <td>0110</td>
              <td>0.2</td>
            </tr>
            <tr>
              <td>n</td>
              <td>110</td>
              <td>0110110</td>
              <td>0.1</td>
            </tr>
            <tr>
              <td>-</td>
              <td>0010</td>
              <td>01101100010</td>
              <td>0.1</td>
            </tr>
            <tr>
              <td>k</td>
              <td>0011</td>
              <td>011011000100011</td>
              <td>0.05</td>
            </tr>
            <tr>
              <td>l</td>
              <td>111</td>
              <td>011011000100011111</td>
              <td>0.1</td>
            </tr>
            <tr>
              <td>e</td>
              <td>01</td>
              <td>01101100010001111101</td>
              <td>0.25</td>
            </tr>
            <tr>
              <td>i</td>
              <td>10</td>
              <td>0110110001000111110110</td>
              <td>0.2</td>
            </tr>
            <tr>
              <td>n</td>
              <td>110</td>
              <td>0110110001000111110110110</td>
              <td>0.1</td>
            </tr>
            <tr>
              <td>e</td>
              <td>01</td>
              <td>011011000100011111011011001</td>
              <td>0.25</td>
            </tr>
            <tr>
              <td>s</td>
              <td>0000</td>
              <td>0110110001000111110110110010000</td>
              <td>0.1</td>
            </tr>
            <tr>
              <td>-</td>
              <td>0010</td>
              <td>01101100010001111101101100100000010</td>
              <td>0.1</td>
            </tr>
            <tr>
              <td>b</td>
              <td>00010</td>
              <td>0110110001000111110110110010000001000010</td>
              <td>0.05</td>
            </tr>
            <tr>
              <td>e</td>
              <td>01</td>
              <td>011011000100011111011011001000000100001001</td>
              <td>0.25</td>
            </tr>
            <tr>
              <td>i</td>
              <td>10</td>
              <td>01101100010001111101101100100000010000100110</td>
              <td>0.2</td>
            </tr>
            <tr>
              <td>s</td>
              <td>0000</td>
              <td>011011000100011111011011001000000100001001100000</td>
              <td>0.1</td>
            </tr>
            <tr>
              <td>p</td>
              <td>00011</td>
              <td>01101100010001111101101100100000010000100110000000011</td>
              <td>0.05</td>
            </tr>
            <tr>
              <td>i</td>
              <td>10</td>
              <td>0110110001000111110110110010000001000010011000000001110</td>
              <td>0.2</td>
            </tr>
            <tr>
              <td>e</td>
              <td>01</td>
              <td>011011000100011111011011001000000100001001100000000111001</td>
              <td>0.25</td>
            </tr>
            <tr>
              <td>l</td>
              <td>111</td>
              <td>011011000100011111011011001000000100001001100000000111001111</td>
              <td>0.1</td>
            </tr>
          </table>
          <p>Der String: "ein-kleines-beispiel" kann also mit dem 60 Bit langen Code: 011011000100011111011011001000000100001001100000000111001111 kodiert werden. Wenn wir den String aber mit einer Kodierung kodieren würden, die keine Rücksicht auf den Informationsgehalt der Zeichen nimmt bräuchten wir mindestens 4 Bit pro Zeichen, damit die 9 verschiedenen Zeichen dargestellt werden können. Somit wären mindestens 20 Zeichen * 4 Bit pro Zeichen = 80 Bit nötig um den String zu kodieren. Somit haben wir 20 Bit redundante Daten eingespart mit der Huffman-Kodierung.</p>
        </div>
        <div>
          <h3>Beispielaufgaben</h3>
          <p>Jetzt da du gelernt hast, wie man einen Huffman-Baum aufbauen kann und wie dieser danach benutzt wird um eine Zeichenkette zu kodieren ist es an der Zeit dieses Wissen in Aufgaben anzuwenden. Du hast entweder einen String gegeben, zu dem du einen Huffman-Baum erstellen musst, womit du ihn gleich noch kodieren kannst oder einen Code und den dazugehöenden Huffman-Baum zum dekodieren.</p><br><p>Der Baum muss die gleichen formalen Eigenschaften einhalten wie in der letzten Aufgabe. Der Baum wird immernoch so gelesen, dass eine Abzweigung nach links eine 0 bedeutet und eine Abzweigung nach rechts eine 1 bedeutet. Der Baum ist nun aber auf dem Kopf, er muss also von unten nach oben gelesen werden.</p>
          <input type = "button" value = "Neue Aufgaben" onclick = "resetHuffman();">
          <table>
            <tr>
              <th>Baum</th>
              <th>Code</th>
              <th>String</th>
            </tr>
            <tr>
              <td id = "Huffmanextable0"><textarea rows = "10" cols = "70" id = "inputHuffman0" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkHuffman(this.value, 0);"></textarea><br><input id = "solButton0" type = "button" value = "Lösung anzeigen" onclick = "solutionHuffman(0);"></td>
              <td id = "Huffmanextable1"><textarea rows = "3" cols = "20" id = "inputHuffman1" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkHuffman(this.value, 1);"></textarea><br><input id = "solButton1" type = "button" value = "Lösung anzeigen" onclick = "solutionHuffman(1);"></td>
              <td id = "Huffmanextable2"><input type = "text" id = "inputHuffman2" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkHuffman(this.value, 2);"><br><input id = "solButton2" type = "button" value = "Lösung anzeigen" onclick = "solutionHuffman(2);"></td>
            </tr>
            <tr>
              <td id = "Huffmanextable3"><textarea rows = "10" cols = "70" id = "inputHuffman3" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkHuffman(this.value, 3);"></textarea><br><input id = "solButton3" type = "button" value = "Lösung anzeigen" onclick = "solutionHuffman(3);"></td>
              <td id = "Huffmanextable4"><textarea rows = "3" cols = "20" id = "inputHuffman4" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkHuffman(this.value, 4);"></textarea><br><input id = "solButton4" type = "button" value = "Lösung anzeigen" onclick = "solutionHuffman(4);"></td>
              <td id = "Huffmanextable5"><input type = "text" id = "inputHuffman5" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkHuffman(this.value, 5);"><br><input id = "solButton5" type = "button" value = "Lösung anzeigen" onclick = "solutionHuffman(5);"></td>
            </tr>
            <tr>
              <td id = "Huffmanextable6"><textarea rows = "10" cols = "70" id = "inputHuffman6" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkHuffman(this.value, 6);"></textarea><br><input id = "solButton6" type = "button" value = "Lösung anzeigen" onclick = "solutionHuffman(6);"></td>
              <td id = "Huffmanextable7"><textarea rows = "3" cols = "20" id = "inputHuffman7" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkHuffman(this.value, 7);"></textarea><br><input id = "solButton7" type = "button" value = "Lösung anzeigen" onclick = "solutionHuffman(7);"></td>
              <td id = "Huffmanextable8"><input type = "text" id = "inputHuffman8" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkHuffman(this.value, 8);"><br><input id = "solButton8" type = "button" value = "Lösung anzeigen" onclick = "solutionHuffman(8);"></td>
            </tr>
            <tr>
              <td id = "Huffmanextable9"><textarea rows = "10" cols = "70" id = "inputHuffman9" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkHuffman(this.value, 9);"></textarea><br><input id = "solButton9" type = "button" value = "Lösung anzeigen" onclick = "solutionHuffman(9);"></td>
              <td id = "Huffmanextable10"><textarea rows = "3" cols = "20" id = "inputHuffman10" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkHuffman(this.value, 10);"></textarea><br><input id = "solButton10" type = "button" value = "Lösung anzeigen" onclick = "solutionHuffman(10);"></td>
              <td id = "Huffmanextable11"><input type = "text" id = "inputHuffman11" name = "message" placeholder = "Gib hier deine Lösung ein" oninput = "checkHuffman(this.value, 11);"><br><input id = "solButton11" type = "button" value = "Lösung anzeigen" onclick = "solutionHuffman(11);"></td>
            </tr>
          </table>
        </div>
      </div>
    </main>
    <%- include(partialsPath + 'footer1.ejs') %>
  </body>
</html>
